<div class="product-container">
    {{#each products.payload}}
    <div class="product">
        <div class="thumbnails">
            {{#each thumbnails}}
            <img src="{{this}}" alt="Thumbnail 1">
            {{/each}}
        </div>
        <div class="product-details">
            <h2 class="product-title">{{title}}</h2>
            <p class="product-code">Code: {{code}}</p>
            <p class="product-price">Price: ${{price}}</p>
            <p class="product-stock">Stock: {{stock}}</p>
            <p class="product-category">Category: {{category}}</p>

            {{#if status}}
            <p class="product-status">Status: Available ✔</p>
            <button class="btn-buy" id="{{_id}}">BUY</button>
            {{else}}
            <p class="product-status">Status: Not available ❌</p>
            <button class="btn-buy-hide">Not available</button>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>