<div class="product-container">
    {{#each products.payload}}
    <div class="product">
        <div class="thumbnails">
            {{#each thumbnail}}
            <img src="{{this}}" alt="Thumbnail 1">
            {{/each}}
        </div>
        <div class="product-details">
            <h2 class="product-title">{{title}}</h2>
            <p class="product-code">Code: {{code}}</p>
            <p class="product-price">Price: ${{price}}</p>

            {{!-- {{#if status}}
            <p class="product-status">Status: On</p>
            {{/if}} --}}

            <p class="product-stock">Stock: {{stock}}</p>
            <p class="product-category">Category: {{category}}</p>
        </div>
    </div>
    {{/each}}
</div>